html, body {
	background-color:#131313 !important;
}

html:not(.style-scope) {
	--yt-app-background:#121212;
	--yt-border-color:rgba(255,255,255,0.08);
	--yt-button-active-color:rgba(255,255,255,0.88);
	--yt-channel-header-background:rgba(28,28,28,0.8);
	--yt-commentbox-border-active:rgba(255,255,255,0.88);
	--yt-commentbox-border-inactive:rgba(255,255,255,0.5);
	--yt-copyright-text:hsla(0,0%,100%,0.6);
	--yt-dialog-background:#242424;
	--yt-emoji-picker-search-background-color:#444;
	--yt-emoji-picker-search-color:#fff;
	--yt-emoji-picker-search-placeholder-color:#999;
	--yt-featured-channel-title-text-color:rgba(255,255,255,0.5);
	--yt-formatted-string-deemphasize-color:#888888;
	--yt-formatted-string-emoji-size:24px;
	--yt-guide-background:#1c1c1c;
	--yt-icon-active-color:rgba(255,255,255,0.88);
	--yt-icon-color:rgba(255,255,255,0.5);
	--yt-icon-disabled-color:rgba(255,255,255,0.26);
	--yt-icon-hover-color:rgba(255,255,255,0.74);
	--yt-live-chat-secondary-text-color:rgba(255,255,255,0.7);
	--yt-live-chat-shimmer-background-color:rgba(17,17,17,0.4);
	--yt-live-chat-action-panel-background-color:#282828;
	--yt-live-chat-action-panel-background-color-transparent:rgba(40,40,40,.8);
	--yt-live-chat-additional-inline-action-button-background-color:hsla(0,0%,93.3%,0.8);
	--yt-live-chat-additional-inline-action-button-background-color-hover:#eeeeee;
	--yt-live-chat-additional-inline-action-button-color:#222222;
	--yt-live-chat-author-chip-owner-background-color: #ffd600;
	--yt-live-chat-author-chip-owner-text-color:#111111;
	--yt-live-chat-author-chip-verified-background-color:#606060;
	--yt-live-chat-author-chip-verified-text-color:#E9E9E9;
	--yt-live-chat-automod-button-background-color:hsla(0,0%,53.3%,0.4);
	--yt-live-chat-automod-button-background-color-hover:rgba(255,255,255,0.5);
	--yt-live-chat-automod-button-explanation-color:rgba(255,255,255,0.7);
	--yt-live-chat-background-color:#191919;
	--yt-live-chat-banner-gradient-scrim:linear-gradient(rgba(40,40,40,0.95), transparent);
	--yt-live-chat-button-dark-background-color:hsla(0,0%,100%,0.2);
	--yt-live-chat-button-dark-text-color:white;
	--yt-live-chat-button-default-background-color:hsla(0,0%,100%,0.2);
	--yt-live-chat-button-default-text-color:white;
	--yt-live-chat-countdown-opacity:0.5;
	--yt-live-chat-deleted-message-bar-color:rgba(255,255,255,0.5);
	--yt-live-chat-deleted-message-color:rgba(255,255,255,0.5);
	--yt-live-chat-error-message-color: var(--yt-spec-brand-link-text);
	--yt-live-chat-dialog-background-color:#424242;
	--yt-live-chat-dialog-text-color:white;
	--yt-live-chat-disabled-button-background-color:#444;
	--yt-live-chat-disabled-button-text-color: var(--yt-live-chat-secondary-text-color);
	--yt-live-chat-disabled-icon-button-color:rgba(255,255,255,0.3);
	--yt-live-chat-emoji-size:24px;
	--yt-live-chat-enabled-send-button-color:#fff;
	--yt-live-chat-header-background-color: var(--yt-live-chat-action-panel-background-color);
	--yt-live-chat-header-button-color: var(--yt-live-chat-secondary-text-color);
	--yt-live-chat-icon-button-color: var(--yt-live-chat-primary-text-color);
	--yt-live-chat-mention-background-color:#ff5722;
	--yt-live-chat-mention-text-color:#fff;
	--yt-live-chat-message-highlight-background-color:#282828;
	--yt-live-chat-mode-change-background-color:#333;
	--yt-live-chat-moderation-mode-hover-background-color:rgba(255,255,255,0.3);
	--yt-live-chat-moderator-color:#5e84f1;
	--yt-live-chat-overlay-color:rgba(0,0,0,.5);
	--yt-live-chat-owner-color:#ffd600;
	--yt-live-chat-picker-button-active-color:white;
	--yt-live-chat-picker-button-color: var(--yt-live-chat-tertiary-text-color);
	--yt-live-chat-picker-button-hover-color:rgba(255,255,255,.74);
	--yt-live-chat-poll-choice-background-color:transparent;
	--yt-live-chat-poll-choice-border-radius:25px;
	--yt-live-chat-poll-choice-min-height:16px;
	--yt-live-chat-poll-choice-text-color:#fff;
	--yt-live-chat-poll-choice-vote-bar-background-color:rgba(255,255,255,0.1);
	--yt-live-chat-primary-text-color:white;
	--yt-live-chat-product-picker-disabled-icon-color:rgba(255,255,255,0.3);
	--yt-live-chat-product-picker-hover-color:rgba(68,68,68,1);
	--yt-live-chat-product-picker-icon-color:rgba(255,255,255,0.5);
	--yt-live-chat-reconnect-message-color:#fff;
	--yt-live-chat-secondary-background-color:#282828;
	--yt-live-chat-shimmer-linear-gradient:linear-gradient(0deg,rgba(0,0,0,.1) 40% rgba(100,100,100,.3) 50% rgba(0,0,0,.1) 60%);
	--yt-live-chat-slider-active-color:#2196f3;
	--yt-live-chat-slider-container-color:#515151;
	--yt-live-chat-slider-markers-color:#fff;
	--yt-live-chat-sponsor-color:#2ba640;
	--yt-live-chat-sub-panel-background-color:#3e3e3e;
	--yt-live-chat-sub-panel-background-color-transparent:rgba(62,62,62,.7);
	--yt-live-chat-tertiary-text-color:rgba(255,255,255,0.54);
	--yt-live-chat-text-input-field-inactive-underline-color:#666;
	--yt-live-chat-text-input-field-placeholder-color: var(--yt-live-chat-secondary-text-color);
	--yt-live-chat-text-input-field-suggestion-background-color:#3e3e3e;
	--yt-live-chat-text-input-field-suggestion-background-color-hover:#343434;
	--yt-live-chat-text-input-field-suggestion-text-color:white;
	--yt-live-chat-text-input-field-suggestion-text-color-hover:white;
	--yt-live-chat-ticker-arrow-background: var(--yt-live-chat-action-panel-background-color);
	--yt-live-chat-toast-background-color:#323232;
	--yt-live-chat-toast-text-color:white;
	--yt-live-chat-vem-background-color:#3e3e3e;
	--yt-main-app-background-tmp:#121212;
	--yt-menu-focus-background-color:rgba(255,255,255,0.26);
	--yt-menu-hover-backgound-color:rgba(255,255,255,0.08);
	--yt-paper-button-ink-color:hsla(0,0%,100%,0.2);
	--yt-pdg-paid-stickers-tab-selection-bar-color:#3EA6FF;
	--yt-placeholder-text:#eeeeee;
	--yt-placeholder-text-color:rgba(255,255,255,0.5);
	--yt-playlist-background-item:hsla(0,0%,53.3%,0.2);
	--yt-playlist-message-text:#eeeeee;
	--yt-primary-color:rgba(255,255,255,0.88);
	--yt-primary-disabled-button-text-color:hsla(0,0%,100%,0.2);
	--yt-primary-text-color:rgba(255,255,255,0.88);
	--yt-searchbox-background:#121212;
	--yt-secondary-text-color:rgba(255,255,255,0.5);
	--yt-simple-menu-header-background:hsla(0,0%,53.3%,0.4);
	--yt-spec-10-percent-layer:rgba(255,255,255,0.1);
	--yt-spec-badge-chip-background:rgba(255,255,255,0.1);
	--yt-spec-brand-background-primary:rgba(40,40,40,0.98);
	--yt-spec-brand-background-secondary:rgba(40,40,40,0.95);
	--yt-spec-brand-background-solid:#282828;
	--yt-spec-brand-button-background:#c00;
	--yt-spec-brand-icon-active:#fff;
	--yt-spec-brand-icon-inactive:#909090;
	--yt-spec-brand-link-text:#ff4e45;
	--yt-spec-brand-text-button-focus-outline:rgba(255,78,69,0.3);
	--yt-spec-button-chip-background-hover:rgba(255,255,255,0.2);
	--yt-spec-call-to-action:#3ea6ff;
	--yt-spec-call-to-action-button-focus-outline:rgba(62,166,255,0.3);
	--yt-spec-call-to-action-inverse:#065fd4;
	--yt-spec-error-background:#f9f9f9;
	--yt-spec-filled-button-focus-outline:rgba(255,255,255,0.7);
	--yt-spec-filled-button-text:#0d0d0d;
	--yt-spec-general-background-a:#1f1f1f;
	--yt-spec-general-background-b:#161616;
	--yt-spec-general-background-c:#0d0d0d;
	--yt-spec-icon-active-other:#fff;
	--yt-spec-icon-disabled:#606060;
	--yt-spec-icon-inactive:#909090;
	--yt-spec-inactive-text-button-focus-outline:#606060;
	--yt-spec-paper-tab-ink:rgba(255,255,255,0.3);
	--yt-spec-selected-nav-text:#fff;
	--yt-spec-suggested-action:#252a3a;
	--yt-spec-text-disabled:#717171;
	--yt-spec-text-primary:#fff;
	--yt-spec-text-primary-inverse:#0d0d0d;
	--yt-spec-text-secondary:#aaa;
	--yt-spec-themed-blue:#3ea6ff;
	--yt-spec-themed-green:#2ba640;
	--yt-spec-themed-overlay-background:rgba(0,0,0,0.8);
	--yt-spec-touch-response:#fff;
	--yt-spec-verified-badge-background:rgba(255,255,255,0.25);
	--yt-spec-wordmark-text:#fff;
	--yt-std-body-300:rgba(255,255,255,0.5);
	--yt-std-surface-200:#1c1c1c;
	--yt-std-surface-300:#242424;
	--yt-std-surface-400:#292929;
	--yt-tertiary-text-color:rgba(255,255,255,0.5);
	--yt-thumbnail-placeholder-color:#292929;
	--yt-transcript-background:#1c1c1c;
	--ytd-backstage-attachment-background-color:#121212;
	--ytd-backstage-attachment-icon-hover-color:rgba(255,255,255,0.74);
	--ytd-backstage-cancel-background-color:#242424;
	--ytd-backstage-cancel-color:white;
	--ytd-backstage-creationbox-inactive-color:rgba(255,255,255,0.26);
	--ytd-backstage-creationbox-input-text-color:rgba(255,255,255,0.88);
	--ytd-backstage-creationbox-text-color:rgba(255,255,255,0.5);
	--ytd-backstage-image-alert-color:rgba(255,255,255,0.88);
	--ytd-backstage-metadata-text-color:rgba(255,255,255,0.88);
	--ytd-badge-disabled-color:hsla(0,0%,100%,0.4);
	--ytd-collection-badge-color:hsla(0,0%,100%,0.8);
	--ytd-comment-metadata-text-color:#888888;
	--ytd-comment-text-color:rgba(255,255,255,0.88);
	--ytd-moderation-icon-color:rgba(255,255,255,0.5);
	--ytd-moderation-icon-hover-color:rgba(255,255,255,0.74);
	--ytd-moderation-panel-background:rgba(28,28,28,0.8);
	--ytd-moderation-panel-comment-metadata-text:rgba(255,255,255,0.5);
	--ytd-moderation-panel-comment-text:rgba(255,255,255,0.5);
	--ytd-moderation-panel-hover:#1c1c1c;
	--ytd-offer-background-color:#242424;
	--ytd-owner-badge-color:hsla(0,0%,100%,0.4);
	--ytd-searchbox-border-color:hsla(0,0%,53.3%,0.2);
	--ytd-searchbox-legacy-border-color:#303030;
	--ytd-searchbox-legacy-border-shadow-color:rgba(0,0,0,0);
	--ytd-searchbox-legacy-button-border-color:#303030;
	--ytd-searchbox-legacy-button-color:rgba(255,255,255,0.08);
	--ytd-searchbox-legacy-button-focus-color:rgba(255,255,255,0.08);
	--ytd-searchbox-legacy-button-hover-border-color:#303030;
	--ytd-searchbox-legacy-button-hover-color:rgba(255,255,255,0.08);
	--ytd-searchbox-legacy-button-icon-color:rgba(255,255,255,0.5);
	--ytd-shopping-product-info:rgba(255,255,255,0.74);
	--ytd-simple-badge-color:hsla(0,0%,100%,0.6);
	--ytd-transcript-cue-hover-background-color:hsla(0,0%,53.3%,0.4);
	--ytd-transcript-toolbar-background-color:hsla(0,0%,53.3%,0.4);
	--ytd-transcript-toolbar-text:rgba(255,255,255,0.88);
	--ytd-video-game-watch-card-logo-color:white;
	--ytd-watch-card-album-header-background:#111111;
	--ytd-watch-card-secondary-text-color:#eeeeee;
}

.watch-skeleton .skeleton-bg-color {
 background-color:hsl(0,0%,16%);
}

.watch-skeleton .skeleton-light-border-bottom {
 border-bottom:1px solid hsla(0,100%,100%,.08);
}

ytd-masthead.shell {
 background:rgba(40,40,40,0.98);
 fill:#fff;
}

ytd-masthead .masthead-skeleton-icon {
 background-color:hsl(0,0%,16%);
}

ytd-masthead .gsst_e {
 filter: invert(100%);
}
