html:not(.style-scope) {
	--yt-spec-brand-background-solid: #282828 !important;
	--yt-spec-brand-background-primary: rgba(40, 40, 40, 0.98) !important;
	--yt-spec-brand-background-secondary: rgba(40, 40, 40, 0.95) !important;
	--yt-spec-general-background-a: #1f1f1f !important;
	--yt-spec-general-background-b: #161616 !important;
	--yt-spec-general-background-c: #0d0d0d !important;
	--yt-spec-error-background: #f9f9f9 !important;
	--yt-spec-text-primary: #fff !important;
	--yt-spec-text-primary-inverse: #0d0d0d !important;
	--yt-spec-text-secondary: #aaa !important;
	--yt-spec-text-disabled: #717171 !important;
	--yt-spec-call-to-action: #3ea6ff !important;
	--yt-spec-icon-active-other: #fff !important;
	--yt-spec-icon-inactive: #909090 !important;
	--yt-spec-icon-disabled: #606060 !important;
	--yt-spec-badge-chip-background: rgba(255, 255, 255, 0.1) !important;
	--yt-spec-verified-badge-background: rgba(255, 255, 255, 0.25) !important;
	--yt-spec-suggested-action: #252a3a !important;
	--yt-spec-button-chip-background-hover: rgba(255, 255, 255, 0.2) !important;
	--yt-spec-touch-response: #fff !important;
	--yt-spec-paper-tab-ink: rgba(255, 255, 255, 0.3) !important;
	--yt-spec-filled-button-text: #0d0d0d !important;
	--yt-spec-call-to-action-inverse: #065fd4 !important;
	--yt-spec-brand-icon-active: #fff !important;
	--yt-spec-brand-icon-inactive: #909090 !important;
	--yt-spec-brand-button-background: #c00 !important;
	--yt-spec-brand-link-text: #ff4e45 !important;
	--yt-spec-filled-button-focus-outline: rgba(255, 255, 255, 0.7) !important;
	--yt-spec-call-to-action-button-focus-outline: rgba(62, 166, 255, 0.3) !important;
	--yt-spec-brand-text-button-focus-outline: rgba(255, 78, 69, 0.3) !important;
	--yt-spec-inactive-text-button-focus-outline: #606060 !important;
	--yt-spec-brand-subscribe-button-background: var(--yt-spec-brand-button-background) !important;
	--yt-spec-wordmark-text: #fff !important;
	--yt-spec-10-percent-layer: rgba(255, 255, 255, 0.1) !important;
	--yt-spec-selected-nav-text: #fff !important;
	--yt-spec-themed-blue: #3ea6ff !important;
	--yt-spec-themed-green: #2ba640 !important;
	--yt-spec-themed-overlay-background: rgba(0, 0, 0, 0.8) !important;
}

html:not(.style-scope), :not(.style-scope) {
	--ytd-searchbox-border-color: hsla(0, 0%, 53.3%, 0.2) !important;
	--ytd-searchbox-legacy-border-color: #303030 !important;
	--ytd-searchbox-legacy-border-shadow-color: rgba(0, 0, 0, 0) !important;
	--ytd-searchbox-legacy-button-color: rgba(255, 255, 255, 0.08) !important;
	--ytd-searchbox-legacy-button-border-color: #303030 !important;
	--ytd-searchbox-legacy-button-focus-color: rgba(255, 255, 255, 0.08) !important;
	--ytd-searchbox-legacy-button-hover-color: rgba(255, 255, 255, 0.08) !important;
	--ytd-searchbox-legacy-button-hover-border-color: #303030 !important;
	--ytd-searchbox-legacy-button-icon-color: rgba(255, 255, 255, 0.5) !important;
	--ytd-moderation-panel-background: rgba(28, 28, 28, 0.8) !important;
	--ytd-moderation-panel-hover: #1c1c1c !important;
	--ytd-moderation-panel-comment-text: rgba(255, 255, 255, 0.5) !important;
	--ytd-moderation-panel-comment-metadata-text: rgba(255, 255, 255, 0.5) !important;
	--ytd-moderation-icon-color: rgba(255, 255, 255, 0.5) !important;
	--ytd-moderation-icon-hover-color: rgba(255, 255, 255, 0.74) !important;
	--ytd-comment-text-color: rgba(255, 255, 255, 0.88) !important;
	--ytd-comment-metadata-text-color: #888888 !important;
	--ytd-watch-card-secondary-text-color: #eeeeee !important;
	--ytd-watch-card-album-header-background: #111111 !important;
	--ytd-backstage-metadata-text-color: rgba(255, 255, 255, 0.88) !important;
	--ytd-backstage-image-alert-color: rgba(255, 255, 255, 0.88) !important;
	--ytd-backstage-cancel-background-color: #242424 !important;
	--ytd-backstage-cancel-color: white !important;
	--ytd-backstage-attachment-background-color: #121212 !important;
	--ytd-backstage-creationbox-inactive-color: rgba(255, 255, 255, 0.26) !important;
	--ytd-backstage-creationbox-text-color: rgba(255, 255, 255, 0.5) !important;
	--ytd-backstage-creationbox-input-text-color: rgba(255, 255, 255, 0.88) !important;
	--ytd-backstage-attachment-icon-hover-color: rgba(255, 255, 255, 0.74) !important;
	--ytd-badge-disabled-color: hsla(0, 0%, 100%, 0.4) !important;
	--ytd-collection-badge-color: hsla(0, 0%, 100%, 0.8) !important;
	--ytd-owner-badge-color: hsla(0, 0%, 100%, 0.4) !important;
	--ytd-simple-badge-color: hsla(0, 0%, 100%, 0.6) !important;
	--ytd-shopping-product-info: rgba(255, 255, 255, 0.74) !important;
	--ytd-transcript-cue-hover-background-color: hsla(0, 0%, 53.3%, 0.4) !important;
	--ytd-transcript-toolbar-background-color: hsla(0, 0%, 53.3%, 0.4) !important;
	--ytd-transcript-toolbar-text: rgba(255, 255, 255, 0.88) !important;
	--ytd-offer-background-color: #242424 !important;
	--ytd-video-game-watch-card-logo-color: white !important;
}

html:not(.style-scope), :not(.style-scope) {
	--yt-std-body-300: rgba(255, 255, 255, 0.5);
	--yt-std-surface-200: #1c1c1c;
	--yt-std-surface-300: #242424;
	--yt-std-surface-400: #292929;
	--yt-primary-color: rgba(255, 255, 255, 0.88);
	--yt-primary-text-color: rgba(255, 255, 255, 0.88);
	--yt-secondary-text-color: rgba(255, 255, 255, 0.5);
	--yt-tertiary-text-color: rgba(255, 255, 255, 0.5);
	--yt-placeholder-text-color: rgba(255, 255, 255, 0.5);
	--yt-border-color: rgba(255, 255, 255, 0.08);
	--yt-commentbox-border-inactive: rgba(255, 255, 255, 0.5);
	--yt-commentbox-border-active: rgba(255, 255, 255, 0.88);
	--yt-paper-button-ink-color: hsla(0, 0%, 100%, 0.2);
	--yt-icon-color: rgba(255, 255, 255, 0.5);
	--yt-icon-hover-color: rgba(255, 255, 255, 0.74);
	--yt-icon-active-color: rgba(255, 255, 255, 0.88);
	--yt-icon-disabled-color: rgba(255, 255, 255, 0.26);
	--yt-placeholder-text: #eeeeee;
	--yt-playlist-background-item: hsla(0, 0%, 53.3%, 0.2);
	--yt-playlist-message-text: #eeeeee;
	--yt-button-active-color: rgba(255, 255, 255, 0.88);
	--yt-copyright-text: hsla(0, 0%, 100%, 0.6);
	--yt-thumbnail-placeholder-color: #292929;
	--yt-primary-disabled-button-text-color: hsla(0, 0%, 100%, 0.2);
	--yt-featured-channel-title-text-color: rgba(255, 255, 255, 0.5);
	--yt-formatted-string-deemphasize-color: #888888;
	--yt-simple-menu-header-background: hsla(0, 0%, 53.3%, 0.4);
	--yt-menu-hover-backgound-color: rgba(255, 255, 255, 0.08);
	--yt-menu-focus-background-color: rgba(255, 255, 255, 0.26);
	--yt-searchbox-text-color: var(--yt-primary-text-color);
	--yt-app-background: #121212;
	--yt-main-app-background-tmp: #121212;
	--yt-guide-background: #1c1c1c;
	--yt-dialog-background: #242424;
	--yt-searchbox-background: #121212;
	--yt-channel-header-background: rgba(28, 28, 28, 0.8);
	--yt-transcript-background: #1c1c1c;
}
