html {
  scrollbar-color: #393939 #121212;
}

/* Hide consent bump */
div#ticker ytd-consent-bump-renderer {
	display: none;
}

/* Hide sign in tooltip */
div#contentWrapper yt-tooltip-renderer {
	display: none;
}

/* Hide masthead ad */
div#masthead-ad {
  display: none !important;
}

/* Hide buy offer */
div#offer-module {
	display: none;
}
